@font-face {
  font-family: 'icons';
  src: url('../icons.eot?85842087');
  src: url('../icons.eot?85842087') format('embedded-opentype'),
       url('../icons.woff?85842087') format('woff'),
       url('../icons.ttf?85842087') format('truetype'),
       url('../icons.svg?85842087') format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing:antialiased;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?85842087#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  /*margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /*margin-left: .2em;*/
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-glyph:before { content: '\e800'; } /* '' */
.icon-lemon:before { content: '\e94a'; } /* '' */
.icon-glyph-3:before { content: '\e803'; } /* '' */
.icon-glyph-4:before { content: '\e804'; } /* '' */
.icon-glyph-5:before { content: '\e805'; } /* '' */
.icon-glyph-6:before { content: '\e806'; } /* '' */
.icon-glyph-7:before { content: '\e807'; } /* '' */
.icon-glyph-8:before { content: '\e808'; } /* '' */
.icon-glyph-9:before { content: '\e809'; } /* '' */
.icon-glyph-10:before { content: '\e80a'; } /* '' */
.icon-glyph-11:before { content: '\e80b'; } /* '' */
.icon-glyph-12:before { content: '\e80c'; } /* '' */
.icon-glyph-13:before { content: '\e80d'; } /* '' */
.icon-glyph-14:before { content: '\e80e'; } /* '' */
.icon-glyph-15:before { content: '\e80f'; } /* '' */
.icon-glyph-16:before { content: '\e810'; } /* '' */
.icon-glyph-17:before { content: '\e811'; } /* '' */
.icon-glyph-1:before { content: '\e801'; } /* '' */
.icon-glass:before { content: '\e812'; } /* '' */
.icon-music:before { content: '\e813'; } /* '' */
.icon-search:before { content: '\e814'; } /* '' */
.icon-mail:before { content: '\e815'; } /* '' */
.icon-mail-alt:before { content: '\e816'; } /* '' */
.icon-heart:before { content: '\e817'; } /* '' */
.icon-heart-empty:before { content: '\e818'; } /* '' */
.icon-star:before { content: '\e819'; } /* '' */
.icon-star-empty:before { content: '\e81a'; } /* '' */
.icon-star-half:before { content: '\e81b'; } /* '' */
.icon-star-half-alt:before { content: '\e81c'; } /* '' */
.icon-user:before { content: '\e81d'; } /* '' */
.icon-users:before { content: '\e81e'; } /* '' */
.icon-male:before { content: '\e81f'; } /* '' */
.icon-female:before { content: '\e820'; } /* '' */
.icon-video:before { content: '\e821'; } /* '' */
.icon-videocam:before { content: '\e822'; } /* '' */
.icon-picture:before { content: '\e823'; } /* '' */
.icon-camera:before { content: '\e824'; } /* '' */
.icon-camera-alt:before { content: '\e825'; } /* '' */
.icon-th-large:before { content: '\e826'; } /* '' */
.icon-th:before { content: '\e827'; } /* '' */
.icon-th-list:before { content: '\e828'; } /* '' */
.icon-ok:before { content: '\e829'; } /* '' */
.icon-ok-circled:before { content: '\e82a'; } /* '' */
.icon-ok-circled2:before { content: '\e82b'; } /* '' */
.icon-ok-squared:before { content: '\e82c'; } /* '' */
.icon-cancel:before { content: '\e82d'; } /* '' */
.icon-cancel-circled:before { content: '\e82e'; } /* '' */
.icon-cancel-circled2:before { content: '\e82f'; } /* '' */
.icon-plus:before { content: '\e830'; } /* '' */
.icon-plus-circled:before { content: '\e831'; } /* '' */
.icon-plus-squared:before { content: '\e832'; } /* '' */
.icon-plus-squared-alt:before { content: '\e833'; } /* '' */
.icon-minus:before { content: '\e834'; } /* '' */
.icon-minus-circled:before { content: '\e835'; } /* '' */
.icon-minus-squared:before { content: '\e836'; } /* '' */
.icon-minus-squared-alt:before { content: '\e837'; } /* '' */
.icon-help:before { content: '\e838'; } /* '' */
.icon-help-circled:before { content: '\e839'; } /* '' */
.icon-info-circled:before { content: '\e83a'; } /* '' */
.icon-info:before { content: '\e83b'; } /* '' */
.icon-home:before { content: '\e83c'; } /* '' */
.icon-link:before { content: '\e83d'; } /* '' */
.icon-unlink:before { content: '\e83e'; } /* '' */
.icon-link-ext:before { content: '\e83f'; } /* '' */
.icon-link-ext-alt:before { content: '\e840'; } /* '' */
.icon-attach:before { content: '\e841'; } /* '' */
.icon-lock:before { content: '\e842'; } /* '' */
.icon-lock-open:before { content: '\e843'; } /* '' */
.icon-lock-open-alt:before { content: '\e844'; } /* '' */
.icon-pin:before { content: '\e845'; } /* '' */
.icon-eye:before { content: '\e846'; } /* '' */
.icon-eye-off:before { content: '\e847'; } /* '' */
.icon-tag:before { content: '\e848'; } /* '' */
.icon-tags:before { content: '\e849'; } /* '' */
.icon-bookmark:before { content: '\e84a'; } /* '' */
.icon-bookmark-empty:before { content: '\e84b'; } /* '' */
.icon-flag:before { content: '\e84c'; } /* '' */
.icon-flag-empty:before { content: '\e84d'; } /* '' */
.icon-flag-checkered:before { content: '\e84e'; } /* '' */
.icon-thumbs-up:before { content: '\e84f'; } /* '' */
.icon-thumbs-down:before { content: '\e850'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e851'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e852'; } /* '' */
.icon-download:before { content: '\e853'; } /* '' */
.icon-upload:before { content: '\e854'; } /* '' */
.icon-download-cloud:before { content: '\e855'; } /* '' */
.icon-upload-cloud:before { content: '\e856'; } /* '' */
.icon-reply:before { content: '\e857'; } /* '' */
.icon-reply-all:before { content: '\e858'; } /* '' */
.icon-forward:before { content: '\e859'; } /* '' */
.icon-quote-left:before { content: '\e85a'; } /* '' */
.icon-quote-right:before { content: '\e85b'; } /* '' */
.icon-code:before { content: '\e85c'; } /* '' */
.icon-export:before { content: '\e85d'; } /* '' */
.icon-export-alt:before { content: '\e85e'; } /* '' */
.icon-pencil:before { content: '\e85f'; } /* '' */
.icon-pencil-squared:before { content: '\e860'; } /* '' */
.icon-edit:before { content: '\e861'; } /* '' */
.icon-print:before { content: '\e862'; } /* '' */
.icon-retweet:before { content: '\e863'; } /* '' */
.icon-keyboard:before { content: '\e864'; } /* '' */
.icon-gamepad:before { content: '\e865'; } /* '' */
.icon-comment:before { content: '\e866'; } /* '' */
.icon-chat:before { content: '\e867'; } /* '' */
.icon-comment-empty:before { content: '\e868'; } /* '' */
.icon-chat-empty:before { content: '\e869'; } /* '' */
.icon-bell:before { content: '\e86a'; } /* '' */
.icon-bell-alt:before { content: '\e86b'; } /* '' */
.icon-attention-alt:before { content: '\e86c'; } /* '' */
.icon-attention:before { content: '\e86d'; } /* '' */
.icon-attention-circled:before { content: '\e86e'; } /* '' */
.icon-location:before { content: '\e86f'; } /* '' */
.icon-direction:before { content: '\e870'; } /* '' */
.icon-compass:before { content: '\e871'; } /* '' */
.icon-trash:before { content: '\e872'; } /* '' */
.icon-doc:before { content: '\e873'; } /* '' */
.icon-docs:before { content: '\e874'; } /* '' */
.icon-doc-text:before { content: '\e875'; } /* '' */
.icon-doc-inv:before { content: '\e876'; } /* '' */
.icon-doc-text-inv:before { content: '\e877'; } /* '' */
.icon-folder:before { content: '\e878'; } /* '' */
.icon-folder-open:before { content: '\e879'; } /* '' */
.icon-folder-empty:before { content: '\e87a'; } /* '' */
.icon-folder-open-empty:before { content: '\e87b'; } /* '' */
.icon-box:before { content: '\e87c'; } /* '' */
.icon-rss:before { content: '\e87d'; } /* '' */
.icon-rss-squared:before { content: '\e87e'; } /* '' */
.icon-phone:before { content: '\e87f'; } /* '' */
.icon-phone-squared:before { content: '\e880'; } /* '' */
.icon-menu:before { content: '\e881'; } /* '' */
.icon-cog:before { content: '\e882'; } /* '' */
.icon-cog-alt:before { content: '\e883'; } /* '' */
.icon-wrench:before { content: '\e884'; } /* '' */
.icon-basket:before { content: '\e885'; } /* '' */
.icon-calendar:before { content: '\e886'; } /* '' */
.icon-calendar-empty:before { content: '\e887'; } /* '' */
.icon-login:before { content: '\e888'; } /* '' */
.icon-logout:before { content: '\e889'; } /* '' */
.icon-mic:before { content: '\e88a'; } /* '' */
.icon-mute:before { content: '\e88b'; } /* '' */
.icon-volume-off:before { content: '\e88c'; } /* '' */
.icon-volume-down:before { content: '\e88d'; } /* '' */
.icon-volume-up:before { content: '\e88e'; } /* '' */
.icon-headphones:before { content: '\e88f'; } /* '' */
.icon-clock:before { content: '\e890'; } /* '' */
.icon-lightbulb:before { content: '\e891'; } /* '' */
.icon-block:before { content: '\e892'; } /* '' */
.icon-resize-full:before { content: '\e893'; } /* '' */
.icon-resize-full-alt:before { content: '\e894'; } /* '' */
.icon-resize-small:before { content: '\e895'; } /* '' */
.icon-resize-vertical:before { content: '\e896'; } /* '' */
.icon-resize-horizontal:before { content: '\e897'; } /* '' */
.icon-move:before { content: '\e898'; } /* '' */
.icon-zoom-in:before { content: '\e899'; } /* '' */
.icon-zoom-out:before { content: '\e89a'; } /* '' */
.icon-down-circled2:before { content: '\e89b'; } /* '' */
.icon-up-circled2:before { content: '\e89c'; } /* '' */
.icon-left-circled2:before { content: '\e89d'; } /* '' */
.icon-right-circled2:before { content: '\e89e'; } /* '' */
.icon-down-dir:before { content: '\e89f'; } /* '' */
.icon-up-dir:before { content: '\e8a0'; } /* '' */
.icon-left-dir:before { content: '\e8a1'; } /* '' */
.icon-right-dir:before { content: '\e8a2'; } /* '' */
.icon-down-open:before { content: '\e8a3'; } /* '' */
.icon-left-open:before { content: '\e8a4'; } /* '' */
.icon-right-open:before { content: '\e8a5'; } /* '' */
.icon-up-open:before { content: '\e8a6'; } /* '' */
.icon-angle-left:before { content: '\e8a7'; } /* '' */
.icon-angle-right:before { content: '\e8a8'; } /* '' */
.icon-angle-up:before { content: '\e8a9'; } /* '' */
.icon-angle-down:before { content: '\e8aa'; } /* '' */
.icon-angle-circled-left:before { content: '\e8ab'; } /* '' */
.icon-angle-circled-right:before { content: '\e8ac'; } /* '' */
.icon-angle-circled-up:before { content: '\e8ad'; } /* '' */
.icon-angle-circled-down:before { content: '\e8ae'; } /* '' */
.icon-angle-double-left:before { content: '\e8af'; } /* '' */
.icon-angle-double-right:before { content: '\e8b0'; } /* '' */
.icon-angle-double-up:before { content: '\e8b1'; } /* '' */
.icon-angle-double-down:before { content: '\e8b2'; } /* '' */
.icon-down:before { content: '\e8b3'; } /* '' */
.icon-left:before { content: '\e8b4'; } /* '' */
.icon-right:before { content: '\e8b5'; } /* '' */
.icon-up:before { content: '\e8b6'; } /* '' */
.icon-down-big:before { content: '\e8b7'; } /* '' */
.icon-left-big:before { content: '\e8b8'; } /* '' */
.icon-right-big:before { content: '\e8b9'; } /* '' */
.icon-up-big:before { content: '\e8ba'; } /* '' */
.icon-right-hand:before { content: '\e8bb'; } /* '' */
.icon-left-hand:before { content: '\e8bc'; } /* '' */
.icon-up-hand:before { content: '\e8bd'; } /* '' */
.icon-down-hand:before { content: '\e8be'; } /* '' */
.icon-left-circled:before { content: '\e8bf'; } /* '' */
.icon-right-circled:before { content: '\e8c0'; } /* '' */
.icon-glyph-2:before { content: '\e802'; } /* '' */
.icon-down-circled:before { content: '\e8c2'; } /* '' */
.icon-cw:before { content: '\e8c3'; } /* '' */
.icon-ccw:before { content: '\e8c4'; } /* '' */
.icon-arrows-cw:before { content: '\e8c5'; } /* '' */
.icon-level-up:before { content: '\e8c6'; } /* '' */
.icon-level-down:before { content: '\e8c7'; } /* '' */
.icon-shuffle:before { content: '\e8c8'; } /* '' */
.icon-exchange:before { content: '\e8c9'; } /* '' */
.icon-expand:before { content: '\e8ca'; } /* '' */
.icon-collapse:before { content: '\e8cb'; } /* '' */
.icon-expand-right:before { content: '\e8cc'; } /* '' */
.icon-collapse-left:before { content: '\e8cd'; } /* '' */
.icon-play:before { content: '\e8ce'; } /* '' */
.icon-play-circled:before { content: '\e8cf'; } /* '' */
.icon-play-circled2:before { content: '\e8d0'; } /* '' */
.icon-stop:before { content: '\e8d1'; } /* '' */
.icon-pause:before { content: '\e8d2'; } /* '' */
.icon-to-end:before { content: '\e8d3'; } /* '' */
.icon-to-end-alt:before { content: '\e8d4'; } /* '' */
.icon-to-start:before { content: '\e8d5'; } /* '' */
.icon-to-start-alt:before { content: '\e8d6'; } /* '' */
.icon-fast-fw:before { content: '\e8d7'; } /* '' */
.icon-fast-bw:before { content: '\e8d8'; } /* '' */
.icon-eject:before { content: '\e8d9'; } /* '' */
.icon-target:before { content: '\e8da'; } /* '' */
.icon-signal:before { content: '\e8db'; } /* '' */
.icon-award:before { content: '\e8dc'; } /* '' */
.icon-desktop:before { content: '\e8dd'; } /* '' */
.icon-laptop:before { content: '\e8de'; } /* '' */
.icon-tablet:before { content: '\e8df'; } /* '' */
.icon-mobile:before { content: '\e8e0'; } /* '' */
.icon-inbox:before { content: '\e8e1'; } /* '' */
.icon-globe:before { content: '\e8e2'; } /* '' */
.icon-sun:before { content: '\e8e3'; } /* '' */
.icon-cloud:before { content: '\e8e4'; } /* '' */
.icon-flash:before { content: '\e8e5'; } /* '' */
.icon-moon:before { content: '\e8e6'; } /* '' */
.icon-umbrella:before { content: '\e8e7'; } /* '' */
.icon-flight:before { content: '\e8e8'; } /* '' */
.icon-fighter-jet:before { content: '\e8e9'; } /* '' */
.icon-leaf:before { content: '\e8ea'; } /* '' */
.icon-font:before { content: '\e8eb'; } /* '' */
.icon-bold:before { content: '\e8ec'; } /* '' */
.icon-italic:before { content: '\e8ed'; } /* '' */
.icon-text-height:before { content: '\e8ee'; } /* '' */
.icon-text-width:before { content: '\e8ef'; } /* '' */
.icon-align-left:before { content: '\e8f0'; } /* '' */
.icon-align-center:before { content: '\e8f1'; } /* '' */
.icon-align-right:before { content: '\e8f2'; } /* '' */
.icon-align-justify:before { content: '\e8f3'; } /* '' */
.icon-list:before { content: '\e8f4'; } /* '' */
.icon-indent-left:before { content: '\e8f5'; } /* '' */
.icon-indent-right:before { content: '\e8f6'; } /* '' */
.icon-list-bullet:before { content: '\e8f7'; } /* '' */
.icon-list-numbered:before { content: '\e8f8'; } /* '' */
.icon-strike:before { content: '\e8f9'; } /* '' */
.icon-underline:before { content: '\e8fa'; } /* '' */
.icon-superscript:before { content: '\e8fb'; } /* '' */
.icon-subscript:before { content: '\e8fc'; } /* '' */
.icon-table:before { content: '\e8fd'; } /* '' */
.icon-columns:before { content: '\e8fe'; } /* '' */
.icon-crop:before { content: '\e8ff'; } /* '' */
.icon-scissors:before { content: '\e900'; } /* '' */
.icon-paste:before { content: '\e901'; } /* '' */
.icon-briefcase:before { content: '\e902'; } /* '' */
.icon-suitcase:before { content: '\e903'; } /* '' */
.icon-ellipsis:before { content: '\e904'; } /* '' */
.icon-ellipsis-vert:before { content: '\e905'; } /* '' */
.icon-off:before { content: '\e906'; } /* '' */
.icon-road:before { content: '\e907'; } /* '' */
.icon-list-alt:before { content: '\e908'; } /* '' */
.icon-qrcode:before { content: '\e909'; } /* '' */
.icon-barcode:before { content: '\e90a'; } /* '' */
.icon-book:before { content: '\e90b'; } /* '' */
.icon-ajust:before { content: '\e90c'; } /* '' */
.icon-tint:before { content: '\e90d'; } /* '' */
.icon-check:before { content: '\e90e'; } /* '' */
.icon-check-empty:before { content: '\e90f'; } /* '' */
.icon-circle:before { content: '\e910'; } /* '' */
.icon-circle-empty:before { content: '\e911'; } /* '' */
.icon-dot-circled:before { content: '\e912'; } /* '' */
.icon-asterisk:before { content: '\e913'; } /* '' */
.icon-gift:before { content: '\e914'; } /* '' */
.icon-fire:before { content: '\e915'; } /* '' */
.icon-magnet:before { content: '\e916'; } /* '' */
.icon-chart-bar:before { content: '\e917'; } /* '' */
.icon-ticket:before { content: '\e918'; } /* '' */
.icon-credit-card:before { content: '\e919'; } /* '' */
.icon-floppy:before { content: '\e91a'; } /* '' */
.icon-megaphone:before { content: '\e91b'; } /* '' */
.icon-hdd:before { content: '\e91c'; } /* '' */
.icon-key:before { content: '\e91d'; } /* '' */
.icon-fork:before { content: '\e91e'; } /* '' */
.icon-rocket:before { content: '\e94b'; } /* '' */
.icon-bug:before { content: '\e94c'; } /* '' */
.icon-certificate:before { content: '\e94d'; } /* '' */
.icon-tasks:before { content: '\e94e'; } /* '' */
.icon-filter:before { content: '\e94f'; } /* '' */
.icon-beaker:before { content: '\e950'; } /* '' */
.icon-magic:before { content: '\e951'; } /* '' */
.icon-truck:before { content: '\e952'; } /* '' */
.icon-money:before { content: '\e953'; } /* '' */
.icon-euro:before { content: '\e954'; } /* '' */
.icon-pound:before { content: '\e955'; } /* '' */
.icon-dollar:before { content: '\e91f'; } /* '' */
.icon-rupee:before { content: '\e920'; } /* '' */
.icon-yen:before { content: '\e921'; } /* '' */
.icon-rouble:before { content: '\e922'; } /* '' */
.icon-try:before { content: '\e923'; } /* '' */
.icon-won:before { content: '\e924'; } /* '' */
.icon-bitcoin:before { content: '\e925'; } /* '' */
.icon-sort:before { content: '\e926'; } /* '' */
.icon-sort-down:before { content: '\e927'; } /* '' */
.icon-sort-up:before { content: '\e956'; } /* '' */
.icon-sort-alt-up:before { content: '\e957'; } /* '' */
.icon-sort-alt-down:before { content: '\e958'; } /* '' */
.icon-sort-name-up:before { content: '\e959'; } /* '' */
.icon-sort-name-down:before { content: '\e95a'; } /* '' */
.icon-sort-number-up:before { content: '\e95b'; } /* '' */
.icon-sort-number-down:before { content: '\e95c'; } /* '' */
.icon-hammer:before { content: '\e95d'; } /* '' */
.icon-gauge:before { content: '\e95e'; } /* '' */
.icon-sitemap:before { content: '\e95f'; } /* '' */
.icon-spinner:before { content: '\e960'; } /* '' */
.icon-coffee:before { content: '\e928'; } /* '' */
.icon-food:before { content: '\e929'; } /* '' */
.icon-beer:before { content: '\e92a'; } /* '' */
.icon-user-md:before { content: '\e92b'; } /* '' */
.icon-stethoscope:before { content: '\e92c'; } /* '' */
.icon-ambulance:before { content: '\e92d'; } /* '' */
.icon-medkit:before { content: '\e92e'; } /* '' */
.icon-h-sigh:before { content: '\e92f'; } /* '' */
.icon-hospital:before { content: '\e930'; } /* '' */
.icon-building:before { content: '\e961'; } /* '' */
.icon-smile:before { content: '\e962'; } /* '' */
.icon-frown:before { content: '\e963'; } /* '' */
.icon-meh:before { content: '\e964'; } /* '' */
.icon-anchor:before { content: '\e965'; } /* '' */
.icon-terminal:before { content: '\e966'; } /* '' */
.icon-eraser:before { content: '\e967'; } /* '' */
.icon-puzzle:before { content: '\e968'; } /* '' */
.icon-shield:before { content: '\e969'; } /* '' */
.icon-extinguisher:before { content: '\e96a'; } /* '' */
.icon-bullseye:before { content: '\e96b'; } /* '' */
.icon-wheelchair:before { content: '\e931'; } /* '' */
.icon-adn:before { content: '\e932'; } /* '' */
.icon-android:before { content: '\e933'; } /* '' */
.icon-apple:before { content: '\e934'; } /* '' */
.icon-bitbucket:before { content: '\e935'; } /* '' */
.icon-bitbucket-squared:before { content: '\e936'; } /* '' */
.icon-css3:before { content: '\e937'; } /* '' */
.icon-dribbble:before { content: '\e938'; } /* '' */
.icon-dropbox:before { content: '\e939'; } /* '' */
.icon-facebook:before { content: '\e96c'; } /* '' */
.icon-facebook-squared:before { content: '\e96d'; } /* '' */
.icon-flickr:before { content: '\e96e'; } /* '' */
.icon-foursquare:before { content: '\e96f'; } /* '' */
.icon-github:before { content: '\e970'; } /* '' */
.icon-github-squared:before { content: '\e971'; } /* '' */
.icon-github-circled:before { content: '\e972'; } /* '' */
.icon-gittip:before { content: '\e973'; } /* '' */
.icon-gplus-squared:before { content: '\e974'; } /* '' */
.icon-gplus:before { content: '\e975'; } /* '' */
.icon-html5:before { content: '\e976'; } /* '' */
.icon-instagramm:before { content: '\e93a'; } /* '' */
.icon-linkedin-squared:before { content: '\e93b'; } /* '' */
.icon-linux:before { content: '\e93c'; } /* '' */
.icon-linkedin:before { content: '\e93d'; } /* '' */
.icon-maxcdn:before { content: '\e93e'; } /* '' */
.icon-pagelines:before { content: '\e93f'; } /* '' */
.icon-pinterest-circled:before { content: '\e940'; } /* '' */
.icon-pinterest-squared:before { content: '\e941'; } /* '' */
.icon-renren:before { content: '\e942'; } /* '' */
.icon-skype:before { content: '\e977'; } /* '' */
.icon-stackexchange:before { content: '\e978'; } /* '' */
.icon-stackoverflow:before { content: '\e979'; } /* '' */
.icon-trello:before { content: '\e97a'; } /* '' */
.icon-tumblr:before { content: '\e97b'; } /* '' */
.icon-tumblr-squared:before { content: '\e97c'; } /* '' */
.icon-twitter-squared:before { content: '\e97d'; } /* '' */
.icon-twitter:before { content: '\e97e'; } /* '' */
.icon-vimeo-squared:before { content: '\e97f'; } /* '' */
.icon-vkontakte:before { content: '\e980'; } /* '' */
.icon-weibo:before { content: '\e981'; } /* '' */
.icon-windows:before { content: '\e943'; } /* '' */
.icon-xing:before { content: '\e944'; } /* '' */
.icon-xing-squared:before { content: '\e945'; } /* '' */
.icon-youtube:before { content: '\e946'; } /* '' */
.icon-youtube-squared:before { content: '\e947'; } /* '' */
.icon-youtube-play:before { content: '\e948'; } /* '' */
.icon-blank:before { content: '\e949'; } /* '' */
.icon-up-circled:before { content: '\e8c1'; } /* '' */